<link rel="import" href="../../../node_modules/@polymer/polymer/polymer.html">

<link rel="import" href="../../../node_modules/scram-express/express-middleware.html">

<dom-module id="example-monkey">
    <template>
        <express-middleware method="get" path="/" callback="[[indexGetHandler]]"></express-middleware>
    </template>

    <script>
        class ExampleMonkeyComponent {
            beforeRegister() {
                this.is = 'example-monkey';
                this.properties = {
                    expressBundle: { //set by the parent element imperatively
                        type: Object,
                        observer: 'init'
                    }
                };
            }

            ready() {
                this.indexGetHandler = (req, res) => {
                    res.send('monkey index');
                };
            }

            attached() {}
            detached() {}
            attributeChanged() {}

            init() {
                const app = this.expressBundle.app;
                const router = this.expressBundle.router;

                const children = Array.prototype.slice.call(this.childNodes);
                children.forEach((child) => {
                    if (!child.expressBundle) {
                        child.expressBundle = {
                            app: app,
                            router: router
                        };
                    }
                });
            }
        }
        Polymer(ExampleMonkeyComponent);
    </script>
</dom-module>
