<link rel="import" href="../../../node_modules/@polymer/polymer/polymer.html">

<link rel="import" href="../../../node_modules/express-web-components/express-middleware.html">

<dom-module id="example-monkey">
    <template>
        <express-middleware method="get" path="/" callback="[[index]]"></express-middleware>
        <express-middleware method="get" path="/one" callback="[[one]]"></express-middleware>
        <express-middleware method="get" path="/two" callback="[[two]]"></express-middleware>
        <express-middleware method="get" path="/three" callback="[[three]]"></express-middleware>
    </template>

    <script>
        class ExampleMonkeyComponent {
            beforeRegister() {
                this.is = 'example-monkey';
            }

            get behaviors() {
                return [ExpressParentBehavior];
            }

            ready() {
                this.initHandlers();
            }

            initHandlers() {
                this.index = (req, res) => {
                    res.send('monkey index');
                };

                this.one = (req, res) => {
                    res.send('monkey one');
                };

                this.two = (req, res) => {
                    res.send('monkey two');
                };

                this.three = (req, res) => {
                    res.send('monkey three');
                };
            }
        }

        Polymer(ExampleMonkeyComponent);
    </script>
</dom-module>
