<link rel="import" href="../../../node_modules/@polymer/polymer/polymer.html">

<link rel="import" href="../../../node_modules/scram-express/express-middleware.html">

<dom-module id="example-bear">
    <template>
    </template>

    <script>
        class ExampleBearComponent {
            beforeRegister() {
                this.is = 'example-bear';
                this.properties = {
                };
            }

            ready() {}
            attached() {}
            detached() {}
            attributeChanged() {}

            init() {
                const children = Array.prototype.slice.call(this.childNodes);
                children.forEach((child) => {
                    !child.app && (child.app = this.app);
                    !child.router && (child.router = router);
                });
            }
        }
        Polymer(ExampleBearComponent);
    </script>
</dom-module>
