<link rel="import" href="../../../../../bower_components/polymer/polymer.html">

<link rel="import" href="../../../../../bower_components/express-web-components/express-middleware.html">

<dom-module id="example-monkey">
    <template>
        <express-middleware method="get" path="/" callback="[[index]]"></express-middleware>
        <express-middleware method="get" path="/one" callback="[[one]]"></express-middleware>
        <express-middleware method="get" path="/two" callback="[[two]]"></express-middleware>
        <express-middleware method="get" path="/three" callback="[[three]]"></express-middleware>
    </template>

    <script>
        System.import('components/monkey/example-monkey.ts');
    </script>
</dom-module>
