<link rel="import" href="../../../node_modules/@polymer/polymer/polymer.html">

<link rel="import" href="../../../node_modules/express-web-components/express-app.html">
<link rel="import" href="../../../node_modules/express-web-components/express-middleware.html">
<link rel="import" href="../../../node_modules/express-web-components/express-router.html">

<link rel="import" href="../monkey/example-monkey.html">
<link rel="import" href="../lion/example-lion.html">
<link rel="import" href="../bear/example-bear.html">

<dom-module id="example-app">
    <template>
        <express-app port="5000">
            <express-middleware method="get" path="/" callback="[[indexGetHandler]]"></express-middleware>

            <express-router path="/api">
                <express-router path="/monkey">
                    <example-monkey></example-monkey>
                </express-router>

                <express-router path="/lion">
                    <example-lion></example-lion>
                </express-router>

                <express-router path="/bear">
                    <example-bear></example-bear>
                </express-router>
            </express-router>

            <express-middleware callback="[[notFoundHandler]]"></express-middleware>
        </express-app>
    </template>

    <script>
        class ExampleAppComponent {
            beforeRegister() {
                this.is = 'example-app';
                this.properties = {
                };
            }

            ready() {
                this.indexGetHandler = (req, res) => {
                    res.send('Hola mundo!');
                };

                this.notFoundHandler = (req, res) => {
                    res.send('404 not found');
                };
            }

            attached() {}
            detached() {}
            attributeChanged() {}
        }
        Polymer(ExampleAppComponent);
    </script>
</dom-module>
