<link rel="import" href="../../../node_modules/@polymer/polymer/polymer.html">

<link rel="import" href="../../../node_modules/scram-express/express-app.html">
<link rel="import" href="../../../node_modules/scram-express/express-middleware.html">
<link rel="import" href="../../../node_modules/scram-express/express-router.html">
<link rel="import" href="../api/example-api.html">

<dom-module id="example-app">
    <template>
        <express-app port="5000" app="{{expressApp}}">
            <express-middleware method="get" path="/" callback="[[indexGetHandler]]" app="[[expressApp]]"></express-middleware>

            <!--<express-router path="/api">
                <example-api></example-api>
            </express-router>-->

            <express-middleware callback="[[notFoundHandler]]" app="[[expressApp]]"></express-middleware>
        </express-app>
    </template>

    <script>
        class ExampleAppComponent {
            beforeRegister() {
                this.is = 'example-app';
                this.properties = {
                };
            }

            ready() {
                this.indexGetHandler = (req, res) => {
                    res.send('Hola mundo!');
                };

                this.notFoundHandler = (req, res) => {
                    res.send('404 not found');
                };
            }

            attached() {}
            detached() {}
            attributeChanged() {}
        }
        Polymer(ExampleAppComponent);
    </script>
</dom-module>
