<link rel="import" href="../../../../../node_modules/@polymer/polymer/polymer.html">

<link rel="import" href="../../../../../node_modules/express-web-components/express-middleware.html">
<link rel="import" href="../../../../../node_modules/express-web-components/express-config.html">

<dom-module id="example-bear">
    <template>
        <express-config callback="[[getTitle]]"></express-config>
        <express-middleware method="get" path="/" callback="[[index]]"></express-middleware>
        <express-middleware method="get" path="/one" callback="[[one]]"></express-middleware>
        <express-middleware method="get" path="/two" callback="[[two]]"></express-middleware>
        <express-middleware method="get" path="/three" callback="[[three]]"></express-middleware>
    </template>

    <script>
        class ExampleBearComponent {
            beforeRegister() {
                this.is = 'example-bear';
            }

            get behaviors() {
                return [ExpressParentBehavior];
            }

            ready() {
                this.initHandlers();
            }

            initHandlers() {
                this.index = (req, res) => {
                    res.send('bear index');
                };

                this.one = (req, res) => {
                    res.send('bear one');
                };

                this.two = (req, res) => {
                    res.send('bear two');
                };

                this.three = (req, res) => {
                    res.send('bear three');
                };

                this.getTitle = (app) => {
                    console.log('title', app.get('title'));
                };
            }
        }

        Polymer(ExampleBearComponent);
    </script>
</dom-module>
