<link rel="import" href="../../../../../bower_components/polymer/polymer.html">

<link rel="import" href="../../../../../bower_components/express-web-components/express-middleware.html">

<dom-module id="example-lion">
    <template>
        <express-middleware method="get" path="/" callback="[[index]]"></express-middleware>
        <express-middleware method="get" path="/one" callback="[[one]]"></express-middleware>
        <express-middleware method="get" path="/two" callback="[[two]]"></express-middleware>
        <express-middleware method="get" path="/three" callback="[[three]]"></express-middleware>
    </template>

    <script>
        class ExampleLionComponent {
            beforeRegister() {
                this.is = 'example-lion';
            }

            get behaviors() {
                return [ExpressParentBehavior];
            }

            ready() {
                this.initHandlers();
            }

            initHandlers() {
                this.index = (req, res) => {
                    res.send('lion index');
                };

                this.one = (req, res) => {
                    res.send('lion one');
                };

                this.two = (req, res) => {
                    res.send('lion two');
                };

                this.three = (req, res) => {
                    res.send('lion three');
                };
            }
        }

        Polymer(ExampleLionComponent);
    </script>
</dom-module>
